html, body, div {
    font-family: arial,sans-serif;
    text-align: center;
}

#container {
    display:grid;
    height: 1000px;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
}

div {
    text-align: center;
    border-style: solid;
    border-color: purple;
    border-width: 1.5px;
}

button {
    margin:auto;
    margin-top: 15px;
    font-size-adjust: 1;
}